{% macro input (name, label, options) %}

	<form action="#" method="post">
		<div class="form-group" {{options.class}}>
			<label for="{{ name }}">{{ label }}</label>
			<input type="{{ options.type ?: 'text'}}" class="form-control" id="{{ name }}" name="{{ name }}">
		</div>
	</form>

{% endmacro %}

{% macro textarea (name, label) %}

	<form action="#" method="post">
		<div class="form-group" {{ options.class}}>
			<label for="{{ name }}">{{ label }}</label>
			<textarea type="text" class="form-control" id="{{ name }}" name="{{ name }}"></textarea>
		</div>
	</form>

{% endmacro %}
