{% extends "/frontoffice/base.html.twig" %}

{% block content %}
	<!--Header section -->
	<div class="container">
		<div class="card bg-dark text-white">
			<img src="public/images/article-1.jpg" class="card-img" alt="..."/>
			<div class="card-img-overlay">
				<h5 class="card-title">
					<h2>{{ post.title }}</h2>
				</h5>
			</div>
		</div>
	</div>
	<!--Content section -->
	<div class="container">
    <div class="row">
		<p>{{ post.text }}</p>

    </div>
	</div>
	<!--Comments section -->
	<div class="container">
		<h3>Commentaires</h3>
		{% if comments %}
			{% for comment in comments %}
				<p>id =
					{{ comment.id }}<br>
					pseudo =
					{{ comment.pseudo }}<br>
					text =
					{{ comment.text }}</p>
			{% endfor %}
		{% else %}
			<h4>Aucun commentaires</h4>
		{% endif %}
	</div>
{% endblock %}
