{% extends "/frontoffice/layout.html.twig" %}

{% block content %}
<!--Header section -->
	<section class="blog">
		<div class="container">
			<div class="row">
				<div class="p-4 p-md-5 mb-4 text-white rounded bg-secondary my-5">
					<div class="col-md-8 px-0">
						<h1 class="display-4">{{ post.title }}</h1>
					</div>
				</div>
			</div>
		</div>

	<!--Content section -->
	<div class="container">
    <div class="row">
		<p>{{ post.published_at|date("m/d/Y") }}</p>
		<p>{{ post.text }}</p>

    </div>
	</div>
	<!--Comments section -->
	<div class="container">
	<div class="row"
		<h4>Commentaires</h4>
		    {% if comments %}
			    {% for comment in comments %}
				<p>id =
					{{ comment.id }}<br>
					pseudo =
					{{ comment.pseudo }}<br>
					text =
					{{ comment.text }}</p>
			{% endfor %}
		{% else %}
			<h6>Aucun commentaires</h6>
		{% endif %}
		

	</div>
	</div>
{% endblock %}
