{% extends "/backoffice/layout.html.twig" %}

{% block content %}
	<!--Header section -->
	<div class="container">
		<div class="row">
			<div class="p-4 p-md-3 mb-4 text-center text-white rounded bg-primary my-3">
				<div class="col-md-12 px-0">
					<h1 class="display-4">Commentaires</h1>
				</div>
			</div>
		</div>
	</div>
	<!--List comments section -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12"></table>
			</p>
			<p>
				<table class="table">
					<thead>
						<tr>
							<td>ID</td>
							<td>Auteur</td>
							<td>Date</td>
							<td>Commentaire</td>
							<td>Status</td>
							<td>Valider</td>
							<td>Supprimer</td>
						</tr>
					</thead>
					<tbody>

						{% for comment in comments %}
							<tr>
								<td>{{ comment.id }}</td>
								<td>{{ comment.userId}}</td>
								<td>{{ comment.dateComment|date("d/m/Y") }}</td>
								<td>{{ comment.text}}</td>
								<td>{{ comment.valid }}</td>

								
								<td>
									{% if comment.valid == 0 %}
										<a href="http://localhost:8000/?action=validcomment&id={{comment.id}}" class="btn btn-primary">Valider</a>

									{% endif %}
								</td>
							
								
								 <td>	
									<a href="http://localhost:8000/?action=deletecomment&id={{comment.id}}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</p>
			<p></p>
		</div>
	</div>
</div></section>{% endblock %}
